# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# ----------------------------
# FastF1 Cache
# ----------------------------
cache/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Python Packaging
# ----------------------------
build/
dist/
*.egg-info/